<div class="box-content" id="box-content">
  <strong>Topic Board の使い方</strong>
  <div class="topic-list">
    <div class="topic-item">
      <p><strong>興味のあるトピックを探す</strong></p>
      <p class="sub-content">検索機能を使って、関心のあるトピックを探しましょう</p>
    </div>
    <div class="topic-item">
      <p><strong>関連するトピックを作成する</strong></p>
      <p class="sub-content">見つけたトピックに関連するワードについて、トピックを追加して深掘りしましょう</p>
    </div>
    <div class="topic-item">
      <p><strong>トピックにフレーム（テキストや画像といった内容）を追加する</strong></p>
      <p class="sub-content">作成したトピックにテキストや画像を使って詳しい内容を追加し、より魅力的なトピックに仕上げましょう</p>
    </div>
    <div class="topic-item">
      <p><strong>コメントを残してトピックを盛り上げる</strong></p>
      <p class="sub-content">トピックについての感想などのコメントを残して、トピックをさらに盛り上げていきましょう</p>
    </div>
  </div>
</div>
