<div class="title-wrapper">
  <div class="title-text">Follow the Roots</div>
  <a href="https://lin.ee/ptXYQmj"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36"></a>
  <%= link_to 'LINEでログインorユーザー登録', auth_at_provider_path(provider: :line) %>
  <div class="background-image">
    <%= image_tag "dev_images/tree_image.jpeg"%>
  </div>
</div>


<style>
  .title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
  }
  .title-text {
    font-size:80px;
  }
</style>
