<div class="title-wrapper">
  <h1>街づくり✖️タスク管理</h1>
  <span><%= link_to "ユーザー作成", new_user_path, class: "link-tag"  %></span>
  <span><%= link_to "ログイン", login_path, class: "link-tag" %></span>
</div>
<style>
  .title-wrapper {
    text-align: center;
    position:relative;
    top:300px;
  }
  .link-tag {
    text-decoration: none;
  }
</style>