<div class="comment-track" id="comment-track">
  <div id="chat-table">
    <% board.comments.where(parent_id: nil).order(created_at: :desc).each do |comment| %>
      <%= render "comments/chat", comment: comment, board: board %>
    <% end %>
  </div>
  <% if board.comments.empty? %>
    <div class="comment-image"><%= image_tag "free_images/comment.png" %></div>
    <span class="comment-text">気になる投稿には、気軽にひと言！</span>
  <% end %>
</div>
