<%= render "shared/index_board", board: @board %>
<%= render "shared/login_tab" %>
<div class="comments-comment-wrapper">
  <div class="comments-comment-form-container">
    <%= render "comments/form", board: @board, comment: @comment %>
  </div>

  <div id="comment-table">
    <% comments = @board.comments.where(parent_id: nil).includes(:children).order(created_at: :desc) %>
    <% comments.each do |comment| %>
      <%= render "comments/comment", board: @board, comment: comment %>
    <% end %>
  </div>

  <div class="comments-page" id="is-comment-exist">
      <% if comments.empty? %>
        <p id="no-comment">コメントがありません</p>
      <% end %>
  </div>
</div>

<script>
// リプライフォームの表示
  function initializeReplyForm() {
  const toComments = document.querySelectorAll("[id^='to-comment-']");
    toComments.forEach(container => {
      const commentNumber = container.id.replace("to-comment-", "");
      const replyForm = document.getElementById(`reply-hundler-${commentNumber}`);
      if (container && replyForm) {
        container.addEventListener("click", function(e){
          e.stopPropagation();
          replyForm.style.display = "block";
        });
        document.addEventListener("click", function(e){
          replyForm.style.display = "none";
        });
        replyForm.addEventListener("click", function(e){
          e.stopPropagation();
        });
    }});
  };
  document.addEventListener("turbo:load", function () {
    initializeReplyForm();
  });
  document.addEventListener("click", function () {
    initializeReplyForm();
  });
</script>

<script>
// コメント一覧　コメント送信ボタンの有効化
  function ActivateCommentSubmit(str) {
    const maxLength = 100;
    const value = str.trim()
    const inputLength = str.trim().length;
    const submitButton = document.getElementById("comments-comment-submit");
    const commentForm = document.getElementById("comment-form");

    document.getElementById("comments-inputlength").innerHTML = `${inputLength}/${maxLength}文字`;

    if (value === "") {
        commentForm.removeAttribute("class");
        commentForm.classList.add("comments-comment-form");
    } else {
        commentForm.classList.add("active");
    };
  };
// コメント一覧　リプライ送信ボタンの有効化
  function ActivateReplySubmit(textarea, commentId) {
    const maxLength = 100;
    const value = textarea.value.trim()
    const inputLength = value.trim().length;
    const submitButton = document.getElementById(`reply-submit-${commentId}`);
    const replyForm = document.getElementById(`reply-form-${commentId}`)
    document.getElementById(`reply-inputlength-${commentId}`).innerHTML = `${inputLength}/${maxLength}文字`;

    if (value === "") {
        replyForm.removeAttribute("class");
        replyForm.classList.add("reply-form");
        console.log(replyForm.classList)
    } else {
        replyForm.classList.add("active");
        console.log(replyForm.classList)
    };
  };
</script>

<style>
<%# 全体のボーダーを表示・スクロールバーを非表示%>
* {
  /*outline: 2px solid blue;*/
  scrollbar-width: none;
}
</style>
<!-- コメント欄 -->
<style>
  .comments-comment-wrapper {
    margin: 10px;
    min-width: 250px;
  }
  .comments-comment-form-container {
    margin: 50px auto;
  }
  .comments-comment-form p {
    padding-left: 10px;
  }
  .comments-comment-form.disabled textarea {
    pointer-events: none;
  }
  .comments-comment-form textarea {
    width: 100%;
    height: 50px;
    text-align: left;
    font-size: 20px;
    margin-bottom: 10px;
    background: #F2EFEF;
    border: none;
    border-bottom: 2px solid #ddd;
  }

  .comments-comment-form input[type="submit"] {
    font-size: 20px;
    border: none;
    border-bottom: 2px solid #ddd;
    margin-top: 10px;
    display: block;
    margin: auto;
    border-radius: 5px;
    font-weight: bold;
    color: #ddd;
    padding: 5px 10px;
  }
  .comments-comment-form:not(.active) input[type="submit"] {
    pointer-events: none;
  }
  .comments-comment-form.active  input[type="submit"] {
    color: #fff;
    background: linear-gradient(90deg, rgba(255,112,30,1) 0%, rgba(255,191,48,1) 50%, rgba(255,77,48,1) 100%);
    background-size: 200% 100%;
    border: none;
    transition: .4s cubic-bezier(0.37, 0, 0.63, 1);
    box-shadow: inset 0 -5px 8px rgba(0, 0, 0, 0.1);
  }
  .comments-comment-form.active input[type="submit"]:hover {
    background: #fff;
    color: #ff701e;
    letter-spacing: 0.15em;
    border: 2px solid #ff701e;
  }
  .comments-comment-delete {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 3px 10px;
    margin: 10px 0;
  }
  .comments-page p {
    text-align: center;
    font-size: 20px;
  }
</style>
<style>
@media (min-width: 600px) {
  .comments-comment-form-container {
    width: 500px;
  }
  .to-comment {
    width: 400px;
  }
  .reply-container {
    width: 500px;
  }
}
@media (max-width: 600px;) {
.comments-comment-form-container {
     margin: 0 10px;
  }
  .comments-comment-form textarea {
    margin: 0 10px;
    width: 200px;
  }
}
.reply-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-bottom: 30px;
  align-items: center;
  height: 50%;
  background: white;
  border-radius: 10px;
  position: relative;
}
.check-icon {
  position: relative;
  top: 5%;
  right: -40%;
  color: pink;
  font-size: 30px;
}
.reply-label {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  min-width: 250px;
  width: 100%;
  padding: 0 10px;
}
.reply-label a {
  text-decoration: none;
  color: black;
}
.reply-label .to-comment-user:hover {
  font-weight: bold;
  color: #ddd;
}
.avatar-image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.avatar-icon {
  font-size: 40px;
  color: #aaa;
}
.comment-reply-container {
  width: 100%;
  margin: 10px;
}
.to-comment {
  border-bottom: 2px solid #ddd;
  text-align: center;
  height: 100%;
  word-break: break-word;
  overflow-wrap: break-word;
  background:#ededed;
  font-size: 20px;
  width: 90%;
  margin: 10px;
  text-align: left;
}
.edit-comment-form textarea {
  width: 90%;
}
.edit-comment-form input[type="submit"] {

  border-radius: 5px;
  font-size: 20px;
  padding: 5px 10px;
}

.edit-comment-form a {
  border-radius: 5px;
  font-size: 20px;
  padding: 5px 10px;
}
.reply-wrapper {
  padding-left: 20px;
  border-left: 2px solid #ddd;
  width: 100%;
}
.to-comment-label {
  color: #1431ff;
  cursor: pointer;
}
.comment-links a {
  font-size: 20px;
  padding: 5px 10px;
}
.reply-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 90%;
  margin-bottom: 20px;
  display: none;
}

.reply-form input {
  display: block;
  margin: auto;
}
.reply-form textarea {
  min-height: 100px;

  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 2px solid #ddd;
  font-size: 20px;
}
.reply-form:not(.active) input[type="submit"] {
    font-size: 20px;
    border: none;
    border-bottom: 2px solid #ddd;
    margin-top: 10px;
    display: block;
    margin: auto;
    border-radius: 5px;
    font-weight: bold;
    color: #ddd;
    padding: 5px 10px;
    pointer-events: none;
  }
  .reply-form.active input[type="submit"] {
    color: #fff;
    background: linear-gradient(90deg, rgba(255,112,30,1) 0%, rgba(255,191,48,1) 50%, rgba(255,77,48,1) 100%);
    background-size: 200% 100%;
    border: none;
    transition: .4s cubic-bezier(0.37, 0, 0.63, 1);
    box-shadow: inset 0 -5px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 10px;
    font-weight: bold;
  }
  .reply-form.active input[type="submit"]:hover {
    background: #fff;
    color: #ff701e;
    letter-spacing: 0.15em;
    border: 2px solid #ff701e;
  }
  .comment-delete-edit-button {
    padding: 3px 8px;
    margin: 10px 0;
  }
</style>
