<div class="form-label">
    <span>プロフィール編集</span>
</div>
<div class="form-wrapper">
  <div class="preset-preview-container">
    <div id="preset-post_images" style="">
      <div id="preset-preview">
        <% if @user.avatar_image.attached? &&
              @user.avatar_image.attachment.blob.present? &&
              @user.avatar_image.attachment.blob.persisted? %>
              <div class="image-label">設定中の画像</div>
              <%= image_tag @user.avatar_image %>
        <% else %>
          <%= image_tag "free_images/user_icon_4.png" %>
        <% end %>
      </div>
    </div>
  </div>
  <%= render "users/user_form_container", user: @user %>
  <div class="cancel-button">
      <%= link_to "キャンセル", show_profile_user_path(@user), class: "cancel btn btn-outline-danger" %>
  </div>
</div>
