<nav class="breadcrumbs">
  <%= link_to root_path do %>
    <span>HOME</span>
  <% end %>
  <% @breadcrumbs.each_with_index do |crumb, index| %>
    <span>></span>
    <% if index == @breadcrumbs.size - 1 %>
      <span><%= crumb.title %></span>
    <% else %>
      <%= link_to crumb.title, board_path(crumb) %>
    <% end %>
  <% end %>
</nav>

<style>
 .breadcrumbs {
  margin: 10px 10px;
  padding: 0 20px;
  border-bottom: 4px solid #ddd;
  border-top: 2px solid #ddd;
  overflow: auto;
  white-space: nowrap;
  box-sizing: border-box;
  min-width: 280px;
 }
 .breadcrumbs span {
  font-size: 18px;
 }

</style>