<% flash.each do |message_type, message| %>
  <div id="flash-message">
    <div class="alert-label">Wクリックで削除</div>
    <div class="alert alert-success flash-message">
      <%= message %>
    </div>
  </div>
<% end %>
