<footer>
  <div class="footer-content">

    <ul class="footer-links">
      <li><%= link_to "プライバシーポリシー", privacy_policy_path, target: :_blank, id: "privacy-policy-link" %></li>
      <li><%= link_to "利用規約", terms_of_service_path, target: :_blank, id: "terms-of-service-link" %></li>
      <li><%= link_to "お問い合わせ", "https://docs.google.com/forms/d/e/1FAIpQLScyWfOx1ezyRz_1TFlh-1Wk5AGrRsgfAYAsu9rCogQTzfLwsA/viewform?usp=header", target: :_blank, id: "contact-form-link" %></li>
    </ul>
  </div>
</footer>
