<div class="login-tab">
  <div class="login-tab-container">
    <div class="login-tab-title">
      <%= link_to root_path do %>
        <%= image_tag "free_images/logo.png" %>
      <% end %>
    </div>
    <div class="login-or-new">
      <span class="auth-link"><%= render "shared/google_button" %></span>
    </div>
  </div>
</div>
