<div class="search-form-container">
  <%= render "shared/search_form", q: @q %>
  <div class="candidate-container" id="candidate-container">
    <div class="candidate-list" id="candidate-list"></div>
  </div>
</div>