<% if page.current? %>
  <li class="page-item active">
    <%= content_tag :a, class: "page-link", data: { remote: remote }, rel: page.rel do %>
      <%= page %> <!-- 任意のアイコン -->
    <% end %>
  </li>
<% else %>
  <li class="page-item">
    <%= link_to url, remote: remote, rel: page.rel, class: "page-link" do %>
      <%= page %> <!-- 任意のアイコン -->
    <% end %>
  </li>
<% end %>

<style>
  .page-item {
    margin: 10px;
  }
  .page-link {
    color: pink;
    border-color: pink;
    border-radius: 5px;
  }
</style>
