
<div class="scroll-area">
  <div class="scroll-content">
    <div class="board-items">
      <div class="user-name">
        <%= board.user.user_name %>
      </div>
      <% if board.image.attached? %>
        <div class="board-image"><%= image_tag board.image %></div>
      <% end %>
    </div>
  </div>
  <div class="comment-marquee">
    <div class="comment-track">
      <% @boards.each do |board| %>
        <span class="comment-item"><%= board.body %></span>
        <span class="comment-item">by<%= board.user.user_name %></span>
      <% end %>
    </div>
  </div>
</div>

<style>
  .board-items {
    margin: 0 auto;
    text-align: center;
    
  }
  .user-name {
    display: inline-block;
    margin: auto;
  }
  #board-body {
    margin: 0 auto;
    padding: 0 10px;
    font-size: 20px;
    width: 100%;
  }
  #board-text {
    text-decoration: none; 
    color: black; 
  }
</style>

<!--

!-->