<div class="index-board-wrapper">
  <% if @index_boards %>
    <% @index_boards.each do |board| %>
      <%= render "shared/index_board", board: board %>
    <% end %>
  <% else %>
    <div class="no-boards">
      該当する投稿はありません
    </div>
  <% end %>
  <% if @index_boards.present? && @index_boards.current_page %>
    <%= paginate @index_boards %>

  <% else %>
    <p>表示するデータがありません。</p>
  <% end %>
</div>

<style>
  .index-board-wrapper {
 
  }
</style>