  <% if current_user %>
    <%= render "shared/header" %>
  <% end %>
  <div class="pagination"> 
    <% if @index_boards.present? && @index_boards.current_page %> <!-- カード用ページネーション -->
      <div class="page-numbers">
        <%= paginate @index_boards, context: false %>
      </div>
    <% else %>
      <p>表示するデータがありません。</p>
    <% end %>
  </div>
  <% if @index_boards %>
    <div class="board-cards recommend-boards"> <!-- おすすめの投稿 -->
      <% @index_boards.each do |board| %>
        <%= render "index_board", board: board %>
      <% end %>
    </div>
  <% else %>
    <span>表示するコンテンツがありません</span>
  <% end %>
<!-- おすすめの投稿　-->
<style>
  .board-cards-title {
    text-align: center;
    background-color: pink;
  }
  .board-cards-title span:not(.user-name) {
    font-size: 40px;
    color: white;
  }
  .board-cards-title .user-name {
    font-size: 100%;
    max-width: 20%;
  }
  .board-cards {
    position: relative;
    display: flex;
    flex-wrap: wrap; /* 行をまたいで自動的に折り返す */
    gap: 6px; /* カード間のスペースを設定 */
    justify-content: space-between; /* 均等に配置 */
    padding-bottom: 150px;
    margin-top: 50px;
  }
  .users-other-boards {
  
  }
  .recommend-boards {
    margin-top: 100px;
  }
</style>

<!-- ページネーション -->
<style>
  .page-numbers {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 40px;
  }
  .pagination-left {
    position: absolute;
    bottom: 0;
    left: 45%;
    font-size: 40px;
  }
  .pagination-right {
    position: absolute;
    bottom: 0;
    right: 45%;
    font-size: 40px;
  }
  .previous-link {
    font-size: 50px;
    opacity: 1;
    color: pink;
  }
  .next-link {
    font-size: 50px;
    opacity: 1;
    color: pink;
  }
  .previous-link:hover {
    font-size: 60px;
  }
  .next-link:hover { 
    font-size: 60px;
  }
  .previous-link.disabled, .next-link.disabled {
    pointer-events: none;
  }
  .board-cards:hover .previous-link:not(.disabled) {
    opacity: 1;
  }
  .board-cards:hover .next-link:not(.disabled) {
    opacity: 1;
  }
</style>
