
<div class="new-board-wrapper">
  <div class="new-board-parent">  
    <%= @parent_board.title %>
  </div>
  <div id="new-board-wrapper">
    <%= render "boards/form", board: @board, parent_board: @parent_board %>
  </div>
</div>


<style>
  @media (min-width: 600px) {
    .new-board-wrapper {
      justify-content: center;
      align-items: center;
    }
    .new-board-parent {
      font-size: 40px;
    }
    .new-board-form {
      width: 600px;
    }
    .new-board-form input {
      font-size: 30px;
    }
    .new-board-form a {
      font-size: 30px;
    }
  }
  @media (max-width: 600px) {
    .new-board-wrapper {
      margin: 0 20px;
    }
    .new-board-parent {
      font-size: 30px;
    }
    .new-board-form {
      width: 100%;
    }
    .new-board-form input {
      font-size: 20px;
    }
    .new-board-form a {
      font-size: 20px;
    }
  }
  .new-board-wrapper {
    display: flex;
    flex-direction: column;
  }
  .new-board-parent {
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
    overflow-x: auto;
  }
  .new-board-form {
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
  }
  .new-board-form textarea {
    width: 100%;
    margin-bottom: 20px;
  }
  .new-board-form a {
    width: 100%;
    display: block;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
  }
  
</style>

