// 投稿詳細ページのスタイル
// <!-- ボード画面 -->
  .wrapper {
    display: flex;
    width: 100%;
    padding: 0 20px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    min-width: 300px;
  }
  .wrapper::-webkit-scrollbar {
    display:none;
  }


  // リプライ入力
.replies-wrapper {
  margin-left: 20px;
  border-left: 2px solid #ddd;
}
.reply-wrapper {
  margin-bottom: 10px;
}
.comment-text, .reply-text {
  display: block;
  margin: 20px;
  font-size: 20px;
}
.comment-text {
  color: black;
}
.reply-text {
  color: #555;
}
.comment-avatar, .reply-avatar {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  overflow: hidden;
  margin: 20px;
}
.commented-user, .replied-user {
  font-size: 20px;
  color: black;
  margin-left: 10px;
}
.avatar-image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.avatar-icon {
  font-size: 40px;
  color: #aaa;
}

// タグ
