// 保存・削除ボタン
.delete-button a, .save-button a {
  font-size: 30px;
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 20px;
  text-align: center;
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}



// フレーム編集部分
.edit-wrapper {
height: 100%;
display: flex;
align-items: center;
gap: 20px;
flex-wrap: wrap;
margin: auto;
overflow: auto;
margin-bottom: 50px;
margin-top: 100px;
}
.frames-wrapper {
display: flex;
flex-direction: column;
margin: auto;
align-items: center;
border: 2px solid #ddd;
border-radius: 40px;
padding: 10%;
position: relative;
}
.frame-container {
display: flex;
flex-direction: column;
align-items: center;
overflow: hidden;
height: 100%;
min-width: 200px;
position: relative;
}
.frame-content {
text-align: center;
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
margin-bottom: 50px;
font-size: 25px;
background: #ededed;
border: 2px solid #ddd;
word-break: break-word;
overflow-wrap: break-word;
}
.frame-content img {
max-width: 100%;
max-height: 100%;
margin: auto;
object-fit: contain;  
display: block;
border: 3px solid #ddd;
}
.add-frame {
margin-bottom: 100px;
font-size: 30px;
border-radius: 20px;

}
.add-frame a {
font-size: 25px;
margin-bottom: 20px;
}
.edit-tools {
width: 200px;
display: none;
}
.edit-button {
width: 100%;
margin: 20px 20px 0 0;
margin-bottom: 20px;
}
.edit-button a {
width: 100%;
font-size: 20px;
border-radius: 10px;
}
.move-button a {
margin: 0 20px;
}
.edit-button.disabled a {
pointer-events: none;
background: #ddd;
}
