@media (min-width: 800px) {
  .top-page-login-container {
    flex-direction: column;
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
@media (max-width: 800px) {
  .top-page-login-container {
    flex-direction: column;
  }
}
@media (min-width: 500px) {
  .title-board-content-wrapper {
    gap: 20px;
  }
  .title-text {
    font-size:80px;
  }
}
@media (max-width: 500px) {
  .title-board-content-wrapper {
    gap: 10px;
  }
  .title-text {
    font-size:50px;
  }
}

// トップページ　ログインボタン
.title-text img {
  width: 100%;
  max-width: 400px;
}
.top-page-login-container {
  display: flex;
  padding: 10px;
  border: 2px solid #ddd;
  background: #f7f5f5;
  border-radius: 15px;
  font-weight: bold;
}

.title-board-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}
.title-board-content {
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: bold;
}
.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-text {
  font-weight: bold;
}
.title-jp {
  font-size: 20px;
}
.title-board-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.title-board-container a {
  color: black;
  text-decoration: none;
}

// アニメーション
.anim-box.poyopoyo {
  animation: poyopoyo 5s ease-out infinite;
  opacity: 1;
  }
  @keyframes poyopoyo {
    0%, 40%, 60%, 80% {
      transform: scale(1.0);
    }
    50%, 70% {
      transform: scale(0.95);
    }
  }